{
  "servers": {
    "localhost": {
      "server": "http://localhost:@docker.port@/exist",
      "user": "admin",
      "password": ""
    }
  },
  "sync": {
    "server": "localhost",
    "root": "/db/apps/ecocor",
    "active": true,
    "ignore": [
      ".existdb.json",
      ".git/**",
      "build.xml",
      "build.properties",
      "build/**",
      "compose*.yml",
      "*.bak",
      "*.tmpl",
      "*.xar"
    ]
  }
}
